.rmdb-loadmorebtn {
    background-color: #4e99d6;
    width: 100%;
    min-height: 50px;
    text-align: center;
    color: #fff;
    cursor: pointer;
    transition: all 0.3s;
}

.rmdb-loadmorebtn p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 42px;
    padding: 20px;
}

.rmdb-loadmorebtn:hover {
    opacity: 0.6;
}